body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#message-input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#send-button:hover {
    background-color: #45a049;
}
